<div class="p-m-4">
  <h2>Buscar Países</h2>

  <!-- Formulario Reactivo con PrimeNG -->
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="p-field-radiobutton">
      <p-radioButton
        name="searchType"
        formControlName="searchType"
        value="all"
        label="Todos"
      ></p-radioButton>
    </div>
    <div class="p-field-radiobutton">
      <p-radioButton
        name="searchType"
        formControlName="searchType"
        value="region"
        label="Por Región"
      ></p-radioButton>
    </div>
    <div class="p-field-radiobutton">
      <p-radioButton
        name="searchType"
        formControlName="searchType"
        value="name"
        label="Por Nombre"
      ></p-radioButton>
    </div>

    <div class="p-field">
      <label for="searchValue">
        {{
          searchForm.get("searchType")?.value === "region"
            ? "Ingrese la región"
            : "Ingrese el nombre o parte del nombre"
        }}
      </label>
      <input
        id="searchValue"
        type="text"
        pInputText
        formControlName="searchValue"
      />
    </div>

    <button type="submit" pButton label="Buscar" class="p-mt-2"></button>
  </form>

  <!-- Mensaje de error -->
  <p-message
    *ngIf="errorMessage"
    severity="error"
    text="{{ errorMessage }}"
    class="p-mt-2"
  ></p-message>

  <!-- Tabla de Resultados con PrimeNG Table -->
  <p-table *ngIf="countries.length" [value]="countries" class="p-mt-4">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Región</th>
        <th>Población</th>
        <th>Lenguajes</th>
        <th>Bandera</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-country>
      <tr>
        <td>{{ country.name }}</td>
        <td>{{ country.region }}</td>
        <td>{{ country.population | number }}</td>
        <td>
          <ul>
            <li *ngFor="let lang of country.languages">{{ lang }}</li>
          </ul>
        </td>
        <td>
          <img [src]="country.flag" alt="{{ country.name }} Flag" width="50" />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
